.game {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    justify-items:center;
    align-items:center;
    width : 40vw;
    height: 30vw;
    margin:auto;
    border:1px solid black;
    &__circle{
        width: 100px;
        height: 100px;
        border-radius: 50px; 
        border:1px solid black;
        .mole {
            background-color: red;
        }             
    }
}

.wrapScore {
    text-align: center;
    font-size: 32px;
}

